<ng-container>
    <button class="btn btn-secondary mt-5 me-5" (click)="get500Error()">Test 500 error</button>
    <button class="btn btn-secondary mt-5 me-5" (click)="get400Error()">Test 400 error</button>
    <button class="btn btn-secondary mt-5 me-5" (click)="get401Error()">Test 401 error</button>
    <button class="btn btn-secondary mt-5 me-5" (click)="get404Error()">Test 404 error</button>
    <button class="btn btn-secondary mt-5 me-5" (click)="get400ValidationError()">Test 400Validation error</button>
</ng-container>