<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
    <div class="container-xl">
      <a class="navbar-brand" href="#">Date me!</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li>
        </ul>
        <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input 
            name="username" 
            [(ngModel)]="model.username" 
            type="text" 
            placeholder="Username"
            class="form-control me-2">
          <input 
            type="password" 
            name="password" 
            [(ngModel)]="model.password" 
            placeholder="Password"
            class="form-control me-2">
          <button type="submit" class="btn btn-primary">LogIn</button>
        </form>
    </div>
  </nav>